
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
    display:block;
  }
  
  .selectize-control.single .selectize-input.input-active, .selectize-input {
    background: transparent;
  }
  
  .variants_table {
    width:100%;
  }
  
  .variants_table th {
    text-align:left;
  }
  
  .more-prices {
    display:block;
    padding:15px;
  }
  
  #inner-prices input {
    display:block;
  }

  [contenteditable] {
    padding: .25em 0em;
    transition: .3s all ease-in-out;
  }
  
  [contenteditable]:hover,
  [contenteditable]:focus {
    background-color:rgba(0,0,0,0.4);
  }
  
  [contenteditable]:hover {
    background: rgba(0,0,0,0.4);
    outline: 2px solid #eee;
  }
  
  [contenteditable]:focus {
    background: rgba(0,0,0,0.5);
    outline: 2px solid rgba(255,255,255,0.8);
    color:rgb(1, 116, 35);
  }